{% extends 'cms/cms_base.html' %}
{%  from 'common/_macros.html' import static %}


{% block title %}
    镜像管理
{% endblock %}

{% block page_title %}
    镜像管理
{% endblock %}


{% block head %}
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/moxie.js"></script>
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/plupload.dev.js"></script>
    <script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.js"></script>
    <script src="{{ static('common/zlqiniu.js') }}"></script>
    <script src="{{ static('cms/js/task.js') }}"></script>

    <style>

        .top-box button{
            float: right;
        }


    </style>

{% endblock %}



{% block main_content %}

    <div class="top-box">
        {# 给按钮绑定 弹窗的id #}
        <button class="btn btn-warning" data-toggle="modal" data-target="#banner-dialog">添加镜像</button>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <td>名称</td>
            <td>内容</td>

            <td>镜像</td>
            <td>类型</td>
            <td>flag</td>
            <td>创建日期</td>
            <td>操作</td>
        </tr>
        </thead>

        <tbody>
                {% for banner in allbanner %}
                    <tr data-name="{{ banner.name }}" data-img="{{ banner.image_url }}" data-link="{{ banner.link_url }}" data-priority="{{ banner.priority }}" data-id="{{ banner.id }}">
                        <td>{{ banner.name }}</td>

                        <td>{{ banner.text }}</td>
                        <td>{{ banner.image }}</td>
                        <td>{{ banner.type }}</td>
                        <td>{{ banner.flag }}</td>
                        <td>{{ banner.creat_time }}</td>
                        <td>
{#                            <button class="btn btn-default btn-xs edit-banner-btn">编辑</button>#}
                            <button class="btn btn-danger btn-xs delete-banner-btn">删除</button>
                        </td>

                    </tr>
                {% endfor %}



        </tbody>
    </table>



    {# 定义添加轮播图弹窗，弹窗有自己单独的一个 html #}
    <div class="modal fade" id="banner-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">添加镜像</h4>
          </div>
          <div class="modal-body">
            <form action="" id="infoLogoForm" class="form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name" placeholder="任务名称">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">内容:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="link_url" placeholder="任务内容">
                            </div>
                        </div>




                        <div class="form-group">
                            <label class="col-sm-2 control-label">镜像:</label>
                            <div class="col-sm-10">
                                <input type="file" class="form-control" id="img_url" name="img_url" placeholder="任务镜像">
                            </div>
{#                            <button class="col-sm-2 btn btn-info" id="upload-btn">添加镜像</button>#}
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">类型:</label>
                            <div class="col-sm-10">
                                <input type="radio" id=static name=type_radio checked="true" value="1"/>静态
                                <input type="radio"  id=dynamic name=type_radio value="2"/>动态
{#                                <input type="file" class="form-control" id="img_url" name="img_url" placeholder="任务镜像">#}
                            </div>
{#                            <button class="col-sm-2 btn btn-info" id="upload-btn">添加镜像</button>#}
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">flag:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="priority" placeholder="flag">
                            </div>
                        </div>

{#                        <div class="form-group">#}
{#                            <label class="col-sm-2 control-label">权重:</label>#}
{#                            <div class="col-sm-10">#}
{#                                <input type="number" class="form-control" name="priority" placeholder="权重">#}
{#                            </div>#}
{#                        </div>#}
                    </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="save_banner_btn">保存</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}